body {
    margin: 0;
    padding: 0;
    background: #125E8A;
}

.desktop {
    display: flex;
    flex-direction: column;
    background: #125E8A;
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    align-self: stretch;
}

.navbar {
    display: flex;
    height: 36px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.home_link {
    color: #F7F4EF;
    font-family: Cause;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aboutus_link {
    color: #F7F4EF;
    font-family: Cause;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero_img {
    height: 648px;
    align-self: stretch;
    aspect-ratio: 20/9;
}

.section_0 {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
}

.cloud_white {
    width: 100%;
    position:relative;
    background:  #125E8A;
    bottom: 50px;
    left: 0px;
    padding: 0; 
    background: 
    radial-gradient(circle at 50px 100%,  #F7F4EF 71%, #125E8A 50%);
    background-color: #125E8A;
    background-size:100px 50px;
    height:50px;
    background-repeat: repeat-x;
}

.quote_section {
    display: relative;
    border: 0;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #F7F4EF;
    box-sizing: border-box;
}

.quote{
    display: flex;
    color: #125E8A;
    font-family: "Playwrite US Modern";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 82.353% */
    justify-content: center;
    align-items: center;
    height: 150px;
}

.section1{
    width: 100%;
    position:relative;
    background:  #125E8A;
    bottom: 0px;
    padding: 0; 
    background: 
    radial-gradient(circle at 50px 100%,  rgb(34, 142, 215) 71%, #F7F4EF 50%);
    background-color: rgb(34, 142, 215);
    background-size:100px 50px;
    height:600px;
    background-repeat: repeat-x;
}

.section2{
    width: 100%;
    position:relative;
    background:  #125E8A;
    bottom: 0px;
    padding: 0; 
    background: 
    radial-gradient(circle at 50px 100%,  rgb(34, 142, 215) 71%, #F7F4EF 50%);
    background-color: rgb(34, 142, 215);
    background-size:100px 50px;
    height:600px;
    background-repeat: repeat-x;
}


