:root {
    --red: #C70202;
    --pink: #FF5269;
    --orange: #FD8B2E;
    --yellow: #FDC601;
    --green: #92D262;
    --lblue: #228ED7;
    --dblue: #125E8A;
    --purle: #9C92E5;
    --offwhite: #F7F4EF;
}

body {
    margin: 0;
    padding: 0;
    background: var(--dblue);
    font-family: "Inclusive Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: var(--dblue);
}

.desktop {
    display: flex;
    flex-direction: column;
    background: var(--dblue);
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    align-self: stretch;
}

.navbar {
    display: flex;
    height: 36px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.home_link,
.aboutus_link {
    color: var(--offwhite);
    font-family: Cause;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero_img {
    height: 648px;
    align-self: stretch;
    aspect-ratio: 20/9;
}

.quote {
    display: flex;
    color: var(--dblue);
    font-family: "Playwrite US Modern";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.description_container {
    display: flex;
    padding: 50px 332px 92px 332px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.description_content {
display: flex;
padding: 41px 60px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 30px;
    background: var(--offwhite);
    box-shadow: 0 4px 4px 0 var(--dblue);
}

h1 {
    color: #125E8A;
font-family: "Cause";
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 100% */
}

p {
    color: #125E8A;
font-family: "Inclusive Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}

.description_img {
    width: 301px;
    height: 301px;
    aspect-ratio: 1/1;
}

.section_container {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 10px;
    align-self: stretch;
}

.quote_section {
    display: relative;
    border: 0;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: var(--offwhite);
    box-sizing: border-box;
}

.video_section {
    display: flex;
padding: 150px 300px;
justify-content: center;
align-items: center;
gap: 10px;
border: 10px solid var(--yellow);
background: var(--purle);
}

.playbutton {
    width: 128px;
height: 132px;
aspect-ratio: 32/33;
}

.section_0 {
    width: 100%;
    position: relative;
    background: var(--dblue);
    bottom: 50px;
    left: 0px;
    padding: 0;
    background: radial-gradient(circle at 50px 100%, var(--offwhite) 71%, var(--dblue) 50%);
    background-color: var(--dblue);
    background-size: 100px 50px;
    height: 50px;
    background-repeat: repeat-x;
}

.section_1, .section_2, .section_3 {
    width: 100%;
    position: relative;
    background: var(--dblue);
    bottom: 0px;
    padding: 0;
}

.section1 {
    background:
        radial-gradient(circle at 50px 100%, var(--lblue) 71%, var(--offwhite) 50%);
    background-color: var(--lblue);
    background-size: 100px 50px;
    background-repeat: repeat-x;
}

.section2 {
    background:
        radial-gradient(circle at 50px 100%, var(--offwhite) 71%, var(--lblue) 50%);
    background-color: var(--offwhite);
    background-size: 100px 50px;
    height: 150px;
    background-repeat: repeat-x;
}

.section3 {
    background:
        radial-gradient(circle at 50px 100%, var(--yellow) 71%, var(--offwhite) 50%);
    background-color: #FDC601;
    background-size: 100px 50px;
    background-repeat: repeat-x;}

.section3_textcontainer{
display: flex;
padding: 100px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;

}

.section3_5 {
        background:
        radial-gradient(circle at 50px 100%, var(--purle) 71%, var(--yellow) 50%);
    background-color: var(--purle);
    background-size: 100px 50px;
    background-repeat: repeat-x;
}

.section4 {
        background:
        radial-gradient(circle at 50px 100%, var(--green) 71%, var(--offwhite) 50%);
    background-color: var(--green);
    background-size: 100px 50px;
    background-repeat: repeat-x;
}

.content_container {
    display: flex;
    padding-top: 150px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;

}


.content_content {
display: flex;
width: 1208px;
padding: 70px 0;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
    border: solid 5px var(--dblue);
    border-radius: 30px;
    background: var(--offwhite);
}

.text_section{
    display: flex;
padding: 10px;
flex-direction: column;
align-items: center;
gap: 10px;
}

.changemynamelater {
    width: 100%;
    position: relative;
    background: var(--dblue);
    bottom: 0px;
    padding: 0;
    background:
        radial-gradient(circle at 50px 100%, var(--offwhite) 71%, var(--purle) 50%);
    background-color: var(--offwhite);
    background-size: 100px 50px;
    height: 150px;
    background-repeat: repeat-x;
}

.changemynamelater2 {
    width: 100%;
    position: relative;
    background: var(--dblue);
    bottom: 0px;
    padding: 0;
    background:
        radial-gradient(circle at 50px 100%, var(--offwhite) 71%, var(--green) 50%);
    background-color: var(--offwhite);
    background-size: 100px 50px;
    height: 150px;
    background-repeat: repeat-x;
}

.footer {
        background:
        radial-gradient(circle at 50px 100%, var(--dblue) 71%, var(--offwhite) 50%);
    background-color: var(--dblue);
    background-size: 100px 50px;
    background-repeat: repeat-x;
    height: 200px;
}